<footer class="site-footer">

  <div class="wrapper">

    <div class="col-wrapper">
      <div class="col col-1">
        <p>Let's collaborate.</p>
      </div>

      <div class="col col-2">
        <ul class="social-media-list">
          <li><a href="mailto:anaisborja@gmail.com">anaisborja@gmail.com</a></li>
          <li><a href="https://www.linkedin.com/in/anais-borja-b1b14843">LinkedIn</a></li>
          <li><a href="mailto:anaisborja@gmail.com">Resumé</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
