<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | split: " | " | first }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-trigger">Menu </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a class="page-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}

        <div class="mobile-footer-wrapper">
          {% include footer.html %}
        </div>
      </div>
    </nav>

  </div>

</header>
