// Site header
.site-header {
  border-bottom: 1px solid $brand-color;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  .wrapper { padding-right: 0; }
}

.site-title {
  color: $text-color;
  float: left;
  font-family: $header-font-family;
  font-size: 25px;
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: 80px;

  .menu-trigger {
    display: none;
  }

  .page-link {
    color: $text-color;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    line-height: 80px;
    max-width: 160px;
    padding: 0 15px;
    text-align: center;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      // margin-right: 20px;
    }

    // Active style, not sure how to apply this
    &.active,
    &:hover {
      background-color: $brand-color;
      color: $white;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    line-height: inherit;
    position: absolute;
    right: $spacing-unit / 2;
    top: 30px;
    // text-align: right;

    .menu-trigger {
      color: $text-color;
      display: block;
      float: right;
      font-weight: 100;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;
    }

    .trigger {
      background-color: $brand-color;
      clear: both;
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      top: 81px;
      width: 100%;
      z-index: 1;
    }

    // &:hover .trigger {
    //   display: block;
    //   padding-bottom: 5px;
    // }

    .page-link {
      background-color: $white;
      border-bottom: 1px solid $brand-color;
      display: block;
      max-width: 100%;
      padding: 5px 20px;
      text-align: left;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



// Site footer
.site-footer {
  background-color: $brand-color;
  padding: $spacing-unit*3 0;

  @include media-query($on-palm) {
    display: none;
  }  

  p,
  a {
    color: $white;
    font-weight: 100;
  }
}

.footer-heading {
  color: $white;
  font-family: $base-font-family;
  font-size: $post-s-font-size;
  font-weight: 100;
  line-height: 0;
  margin-bottom: 0;
}

.list,
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

// Mobile Site Footer 
.mobile-footer-wrapper {
  display: none;

  @include media-query($on-palm) {
    display: block;

    .site-footer {
      display: block;
    }
  }
}

// Column System
.col-wrapper {
  @extend %clearfix;
  font-size: $post-l-font-size;
  margin-left: -$spacing-unit / 2;
}

.col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.col-2 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .col-1,
  .col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

// full-height page system
.window-min-height {
  height: calc(100vmin - 81px);
}

.v-center-wrapper {
  position: relative;
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

// Page content
.page-content {
  font-weight: 100;
  
  a {
    border-bottom: 1px solid $secondary-color;
  }
}

.page-heading {
  font-size: 20px;
}

.post {
  padding: 90px 0 30px;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts
.post-header {
  color: $brand-color;
  font-size: $post-l-font-size;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

// Page styles
.main-text {
  font-size: $main-font-size;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 100px;

  small {
    border-bottom: 1px solid $secondary-color;
    font-size: 18px;
  }
}

// About Page
.about-section {
  margin-bottom: 100px;

  .col-wrapper {
    font-size: $post-l-font-size;
  }
}

.clients-list li a {
  font-size: $post-s-font-size;
}

// Work page 

.work-section {
  margin-bottom: 97px;

  h3 {
    font-size: $post-l-font-size;
    font-weight: 100;
  }
}

.project-title {
  color: $brand-color;
  line-height: $post-l-font-size;
  margin-bottom: 0;
}

.project-text {
  font-size: $post-s-font-size;
}

h4.project-industry {
  font-size: $post-s-font-size;
  font-weight: 100;
}

.project-subheader {
  font-size: $post-s-font-size;
  margin-bottom: 0;
}

.project-link {
  border-bottom: 1px solid $secondary-color;
  cursor: pointer;
  font-size: $post-s-font-size;
  line-height: 40px;
  padding-bottom: 6px;
}

