// Site header
.site-header {
  border-bottom: 1px solid $brand-color;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  .wrapper { padding-right: 0; }
}

.site-title {
  color: $text-color;
  float: left;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 80px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: 80px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    line-height: 80px;
    max-width: 160px;
    padding: 0 15px;
    text-align: center;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    // Active style, not sure how to apply this
    &.active,
    &:hover {
      background-color: $brand-color;
      color: $white;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 20px;

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        height: 15px;
        width: 18px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



// Site footer
.site-footer {
  background-color: $brand-color;
  padding: $spacing-unit*3 0;

  p,
  a {
    color: $white;
    font-weight: 100;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.list,
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

// Column System
.col-wrapper {
  @extend %clearfix;
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
}

.col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.col-2 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .col-1,
  .col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



// Page content
.page-content {
  font-weight: 100;
  padding: $spacing-unit*3 0 $spacing-unit;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts
.post-header {
  color: $brand-color;
  font-size: $post-l-font-size;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

// Page styles
.main-text {
  font-size: $main-font-size;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 100px;

  small {
    font-size: 18px;
  }
}

// About Page
.about-section {
  margin-bottom: 100px;

  .col-wrapper {
    font-size: $post-l-font-size;
  }
}

// Work page 

.work-section {
  margin-bottom: 97px;

  h3 {
    font-size: $post-l-font-size;
    font-weight: 100;
  }
}

.project-title {
  color: $brand-color;
  line-height: $post-l-font-size;
  margin-bottom: 0;
}

h4.project-industry {
  font-size: $post-s-font-size;
  font-weight: 100;
}

.project-subheader {
  font-size: $post-s-font-size;
  margin-bottom: 0;
}

.project-link {
  border-bottom: 1px solid $secondary-color;
  cursor: pointer;
  line-height: 40px;
  padding-bottom: 6px;
}

