// Our variables
$base-font-family: "Folio-Lig", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Folio-Med", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font-size:   45px;
$post-l-font-size: 25px;
$post-s-font-size: 15px;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #000;
$secondary-color:  #1da199;
$white:            #fff;
$off-white:        #eef;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1120px;

$on-palm:          600px;
$on-laptop:        800px;




